<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Form Validation Demo</title>
</head>
<body>
<form action="${contextPath}/test/form" method="POST">
    <span>Name:</span>
    <input type="text" name="name"/>
    <hr/>
    <span>Email:</span>
    <input type="email" name="email"/>
    <hr/>
    <span>Age:</span>
    <input type="number" name="age" placeholder="min 18, max 150"/>
    <hr/>
    <span>createTime:</span>
    <input type="text" name="createTime" placeholder="date str or timestamp"/>
    <hr/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>