#parse("templates/layouts/main_header.vm")

<div class="row main-content">
    <div class="col-sm-8 blog-main">
        <h4>Files:</h4>
        <ol class="list-unstyled">
                #foreach($file in $files)
                <li>
                    <a href="${contextPath}/file/edit/${file.getId()}"
                    title="${file.getDescription()}">${file.getName()}</a>
                </li>
                    #end
            <li>
                <hr/>
                <a href="${contextPath}/file/list">View All</a>
            </li>
        </ol>
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>

            <p>
                Online Editor is a simple web file editor, and you can use these file otherwhere.
            </p>
        </div>

        <div class="sidebar-module">
            <h4>
                <a class="btn btn-success btn-sm"
                   href="${contextPath}/file/create">New File</a>
            </h4>
            <ol class="list-unstyled">
                <li><a href="${contextPath}/file/list">Files</a></li>
                <li>
                    <a href="${contextPath}/bucket">Buckets</a>
                </li>
                <li>
                    <a href="${contextPath}/table/create">DataStore</a>
                </li>
            </ol>
        </div>

        <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
                <li><a href="https://github.com/zoowii">@zoowii</a></li>
            </ol>
        </div>
    </div>
</div>

#parse("templates/layouts/main_footer.vm")