<div class="ui cards">
    <img class="ui column centered" style="width: 70%" src="${contextPath}/static/img/index_header.jpg">

    <div class="ui card">
        <div class="content">
            <div class="header" ng-if="!$root.currentUser">发现你身边的同好,马上注册
                <button class="ui button red">点击注册</button>
            </div>
            <div class="description">
                <div class="ui divider horizontal">半次元，ACG同好社群</div>
                <div class="ui form" ng-if="!$root.currentUser">
                    <div class="ui negative message" ng-if="loginFormError">
                        <p>
                            {{loginFormError}}
                        </p>
                    </div>
                    <div class="ui input">
                        <input type="text" ng-model="loginForm.username" placeholder="用户名/邮箱"/>
                    </div>
                    <div class="ui input">
                        <input type="password" ng-model="loginForm.password" placeholder="密码"/>
                    </div>
                    <button class="ui button red" ng-click="login()">登录</button>
                </div>
                <div ng-if="$root.currentUser">
                    <p>
                        欢迎来到二次元世界, <h4>{{$root.currentUser.nickname}}</h4>
                    <button class="ui button red" ng-click="logout()">退出</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui divider horizontal"></div>
<div class="">
    <h3 class="ui top attached header">最近推荐</h3>

    <div class="ui attached segment">
        <div class="ui six doubling cards">
            <div class="card">
                <div class="image">
                    <img src="${contextPath}/static/img/11.jpg">
                </div>
                <div class="content">
                    <div class="description">
                        <label class="ui label red">正片</label>[合金装备] 装备和后期简直酷炫！
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="${contextPath}/static/img/12.jpeg">
                </div>
                <div class="content">
                    <div class="description">
                        <label class="ui label red">正片</label>[合金装备] 装备和后期简直酷炫！
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="${contextPath}/static/img/13.jpeg">
                </div>
                <div class="content">
                    <div class="description">
                        <label class="ui label red">正片</label>[合金装备] 装备和后期简直酷炫！
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="${contextPath}/static/img/14.jpeg">
                </div>
                <div class="content">
                    <div class="description">
                        <label class="ui label red">正片</label>[合金装备] 装备和后期简直酷炫！
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="${contextPath}/static/img/15.jpeg">
                </div>
                <div class="content">
                    <div class="description">
                        <label class="ui label red">正片</label>[合金装备] 装备和后期简直酷炫！
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="${contextPath}/static/img/16.jpeg">
                </div>
                <div class="content">
                    <div class="description">
                        <label class="ui label red">正片</label>[合金装备] 装备和后期简直酷炫！
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>